$color-white: #ffffff;
$color-black: #000000;

$color-purple: #9b4dca;
$color-purple-darker: #360654;
$color-gray: #606c76;
$color-gray-lighter: #e1e1e1;
$color-gray-dark: #555555;



/*colors*/
$color-primary: $color-gray;

$color-primary-text: $color-gray-dark;
$color-primary-link: $color-purple;
$color-primary-link-hover: $color-purple-darker;

$color-border: $color-gray-lighter;